*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/stub/build
/captures
.externalNativeBuild
.cxx
local.properties
key.jks
key_base64.txt
/app/.project

*.class
*.patch
*.log
.kotlin
apk_out/
*.apk
*.idsig
*.bat
*.ps1
docs/
